#!/usr/bin/env python
import numpy as np
import pandas as pd
from hagelslag.processing.ObjectMatcher import shifted_centroid_distance
from hagelslag.processing.ObjectMatcher import centroid_distance, time_distance

scratch_path = "/glade/scratch/cbecker/NSC_objects/HRRR/"
dates = pd.read_csv("/glade/scratch/cbecker/test_HRRR_data/dates.txt",
                      header=None)[0].astype(str).str.pad(14, side="right",fillchar="0")
date_index = pd.DatetimeIndex(dates)
ensemble_members = ['']


config = dict(dates=date_index.to_pydatetime(),
              start_hour=1,
              end_hour=17,
              watershed_variable="refc",
              ensemble_name="HRRRE",
              ensemble_members=ensemble_members,
              model_path="/glade/scratch/cbecker/test_HRRR_data/HRRR/",
              segmentation_approach="hyst",
              #model_watershed_params=(30, 1, 80, 300, 50),
              model_watershed_params=(35, 50),
              size_filter=12,
              gaussian_window=1,
              mrms_path=None,
              mrms_variable="MESH_Max_60min_00.50",
              mrms_watershed_params=(13, 1, 125, 100, 100),
              object_matcher_params=([shifted_centroid_distance], np.array([1.0]),
                                     np.array([24000])),
              track_matcher_params=([centroid_distance, time_distance],
                                     np.array([80000, 2])),
              storm_variables=["refc"],
              potential_variables=["refc"],
              tendency_variables=[],
              shape_variables=["area", "eccentricity", "major_axis_length", "minor_axis_length", "orientation"],
              variable_statistics=["mean", "max", "min"],
              csv_path=scratch_path + "track_data_hrrr_3km_csv_refl/",
              geojson_path=scratch_path + "track_data_hrrr_3km_json_refl/",
              nc_path=scratch_path + "track_data_hrrr_3km_nc_refl/",
              patch_radius=48,
              unique_matches=True,
              closest_matches=True,
              match_steps=True,
              train=False,
              single_step=True,
              label_type="gamma",
              model_map_file="/glade/u/home/sobash/hagelslag/mapfiles/hrrr_map_2016.txt",
              mask_file=None)
